{% load static %}
<footer>
    <div class="footer py-4">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6 text-md-start text-center text-lg-start">
            <!-- <div class="footer-logo text-muted mb-3 mb-md-0"> -->
              <br>
              <h4>ADDRESS</h4>
              <hr>
              <p>1/20B, Khan Market Walking Plaza, Khan Market,<br>
                Rabindra Nagar, New Delhi, Delhi 110003</p>
            <!-- </div> -->
          </div>
          <div class="col-md-6 text-center text-lg-end">
            <div class="footer-social ">
                <h4>KEEP IN TOUCH</h4>
                <hr>

                <a href=" https://www.facebook.com/"><i class="bi bi-facebook icon-link-hover fa-6x text-white m-3"></i></a>
                <a href=" https://www.instagram.com/"><i class="bi bi-instagram fa-6x text-white m-3"></i></a>
                <a href=" https://www.whatsapp.com/"><i class="bi bi-whatsapp fa-6x text-white m-3"></i></a>
                <a href=" https://www.twitter.com/"><i class="bi bi-twitter fa-6x text-white m-3"></i> </a>
                <a href=" https://www.facebook.com/"><i class="bi bi-telephone fa-6x text-white m-3"></i></a>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- bootstap javascript links -->
  <script src='{% static "js/bootstrap.min.js" %}'></script>
  <script src='{% static "js/popper.js" %}'></script>
  <script src='{% static "js/jwellery.js" %}'></script>

</body>
</html>